:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-image: url('/src/imgs/bgBackdrop.png');
    background-size: cover;
    background-attachment: fixed;
    transition: 0.3s ease-in-out;

    --main-bg-color: rgb(0, 0, 0);
    --main-bg-color-opacity: rgba(0, 0, 0, 0.8);
    --main-color: rgb(255, 255, 255);
    --main-highlight-color: #666;
    --main-highlight-bg-color: rgb(34, 34, 34);
    --border-color: rgb(32, 32, 32);
    --main-accent-color: rgb(0, 127, 255);
    --like-btn-color: #ff3040;

    background-color: var(--main-bg-color);
    color: var(--main-color);
    ::-webkit-scrollbar {
        display: none;
    }
}

.light {
    --main-bg-color: rgb(255, 255, 255);
    --main-bg-color-opacity: rgba(255, 255, 255, 0.8);
    --main-color: rgb(34, 34, 34);
    --main-highlight-color: rgb(34, 34, 34);
    --main-highlight-bg-color: rgb(210, 210, 210);
    --border-color: rgb(225, 225, 225);
    --main-accent-color: rgb(0, 127, 255);
    --like-btn-color: #ff3040;

    background-image: none;
}

body {
    margin: 0;
}