.mainContainer {
    width: 100%;
    height: 230px;
    position: relative;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--main-bg-color);
}

.sticky {
    position: sticky;
    top: -145px;
    width: 100%;
    background-color: var(--main-bg-color-opacity);
    backdrop-filter: blur(10px);
    z-index: 99;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}


.profileContainer {
    width: 100%;
    height: 230px;
    position: relative;
    top: 0;
    margin-top: 0;
}

.stickyContainer {
    position: sticky;
    top: 50px;
}

.avatarContainer {
    height: 100px;
}

.backdropImg {
    background-color: #b9b9b9;
    background-size: cover;
    scale: 4;
    width: 100%;
    height: 100vh;
    position: relative;
    filter: blur(20px);
    -webkit-filter: blur(20px);
}

.profileImg {
    position: absolute;
    top: -40px;
    left: 20px;
    border: 5px solid var(--main-bg-color);
}

.userInfoName {
    max-width: 900px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 10px 0px 10px 20px;
    margin-top: -10px;
    padding-right: 80px;
}

.userInfoUsername {
    max-width: 900px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 10px 0px 10px 20px;
    padding-right: 80px;

}

.headerButtons {
    position: absolute;
    right: 20px;
    display: flex;
    gap: 20px;
}

.headerButtons p {
    cursor: pointer;
}

.userInfoContainer {
    line-height: 0.5;
    margin-top: 70px;
    padding-left: 0px;
    height: 50px;
    padding-bottom: 10px;
}

.stickyAvatar {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 20px;
    margin-top: -65px;
}

.userInfoContainer h1 {
    font-size: 21px;
}

.userInfoContainer p {
    color: var(--main-highlight-color);
    cursor: pointer;
}

.inputContainer {
    display: flex;
    padding: 20px 20px 20px 20px;
    gap: 20px;
    position: relative;
    background-color: var(--main-bg-color);
}

.selectedMedia {
    margin: 20px 20px 20px 80px;
    position: relative;
    max-width: 300px;
    background-color: var(--main-bg-color);
}

.selectedMediaIcon {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 10;
    padding: 7px;
    background-color: var(--main-bg-color);
    border-radius: 50px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.selectedMedia img {
    border-radius: 5px;
    position: relative;
    min-width: 300px;
    max-width: 300px;
    z-index: 9;
    scale: 1.05;
}

.selectedMediaHoverBackDrop:hover img {
    opacity: 0.4; 
    filter: blur(2px);
    scale: 1.5;
}

img {
    transition: 0.3s ease-in-out;
}

.deleteHoverIcon {
    position: absolute;
    z-index: 20;
    font-size: 50px;
    bottom: -70px;
    right: calc(50% - 25px);
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.selectedMediaHoverBackDrop {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.selectedMediaHoverBackDrop:hover .deleteHoverIcon {
    bottom: calc(50% - 25px);
    opacity: 1;
}

.inputContainer textarea {
    min-height: 26px;
    resize: none;
    flex: 1;
    background-color: var(--main-bg-color);
    border: none;
    outline: none;
    color: var(--main-color);
    min-height: 26px;
    max-height: 300px;
    line-height: 20px;
    align-items: center;
    max-height: "400px";
    padding-top: 10px;
}

.uploadIcon {
    font-size: 21px;
    position: relative;
    top: 10px;
}

.inputContainer button {
    background-color: var(--main-bg-color);
    border: none;
    outline: none;
    color: var(--main-accent-color);
    cursor: pointer;
    position: relative;
    top: 10px;
}

.uploadLinearProgress {
    background-color: var(--main-bg-color);
    transition: 0.3s ease-in-out;
    min-height: 30px;
    position: relative;
}

.uploadProgress {
    margin: 0;
    padding: 0px;
    background-color: var(--main-accent-color);
    white-space: nowrap; 
    transition: 0.3s ease-in-out;
    height: 2px;
    width: 100%;
    position: relative;
    top: 13px;
    overflow: hidden;
}

.uploadLinearProgress p {
    position: relative;
    margin: 12px 0px 0px 20px;
    color: var(--main-color);
    z-index: 10000000;
    font-weight: 600;
    font-size: 14px;
}