.profileContainer {
    max-width: 935px;
    margin: auto;
    border-right: 1px solid var(--border-color);
    min-height: calc(100vh - 2px);
}

.profileContainerMargin {
    margin-left: 65px;
}

@media only screen and (max-width: 490px) {
    .profileContainerMargin {
        margin-left: 0;
    }
    
}

.noUserContainer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: calc(100vh - 2px); 
}

.noUserContent {
    text-align: center;
}

.noUserContent p {
    color: var(--main-highlight-color);
    margin-top: -5px;
}

.noUserContent button {
    padding: 10px 20px 10px 20px;
    background-color: var(--main-bg-color);
    outline: none;
    border: none;
    color: var(--main-color);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 10px;
}

.noUserContent button:hover {
    background-color: var(--border-color);
    scale: 0.95;
}